#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
	app:
		name: sandbox
	

php:
	date.timezone: Europe/Bratislava
	# session.save_path: "%tempDir%/sessions"
	# zlib.output_compression: yes

nette:
	session:
		autoStart: smart
		expiration: '+365 days'

	application:
		errorPresenter: Error
		mapping:
			*: App\*Module\*Presenter

includes:
	- services.neon
	- extensions.neon
	- console.neon