<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>{#title|striptags|upper}Nette Application Skeleton{/#}</title>

		<link href="{$basePath}/css/app.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="{$basePath}/vendor/bootstrap/assets/js/html5shiv.js"></script>
			<script src="{$basePath}/vendor/bootstrap/assets/js/respond.min.js"></script>
		<![endif]-->

		<script>
			var q = [], $ = function(f) {
				q.push(f);
					};
		</script>

	</head>

	<body>
		<div class="container">
			<div class="navbar-wrapper">

				<div class="navbar navbar-inverse navbar-static-top">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" n:href="homepage:">Project name</a>
						</div>
						<div class="navbar-collapse collapse">
							<ul class="nav navbar-nav">
								<li class="active"><a n:href="homepage:">Home</a></li>
								<li><a href="#about">About</a></li>
								<li><a href="#contact">Contact</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
										<li class="divider"></li>
										<li class="dropdown-header">Nav header</li>
										<li><a href="#">Separated link</a></li>
										<li><a href="#">One more separated link</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>

			{snippet flashes}
				{foreach $flashes as $flash}
					<div class="alert alert-{$flash->type} span12">
						<a class="close" data-dismiss="alert">×</a>
						<span class="icon icon-{$flash->type}"></span>
						<strong>{$flash->message}</strong>
					</div>
				{/foreach}
			{/snippet}

			{include #content}

			<footer>
				<p class="pull-right"><a href="#">Back to top</a></p>
				<p>&copy; 2013 BAZIK, s.r.o. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
			</footer>

		</div>
		<script data-main="/js/main" src="{$basePath}/vendor/requirejs/require.js"></script>
	</body>
</html>
